.header {
  max-width: 1240px;
  display: flex;
  margin: 0 auto;
  padding: 16px 0px;
  align-items: center;
  justify-content: space-between;
}

.MuiButton-root {
  box-shadow: none !important
}

.about {
  width: 360px;
  gap: 0px !important;
  box-sizing: border-box;
  padding: 0px 0px 10px !important;
}

.about1 {
  width: 360px;
  gap: 32px !important;
  box-sizing: border-box;
  padding: 20px 20px 30px !important;
  margin-top: 15px;
}

.about2 {
  width: 360px;
  padding: 20px 15px 25px !important;
}

.aboutHead {
  padding: 20px 15px 10px;
}

.aboutBody1 {
  padding: 5px 20px 20px;
  gap: 15px;
  display: flex;
  flex-direction: column;
}

.aboutBody2 {
  padding: 5px 16px 16px;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.innerFlex {
  display: flex;
}

.innerFlex>img {
  margin-left: 16px;
}

.innerFlex>button {
  margin-left: 16px;
}

.content {
  width: 100%;
}

.container {
  max-width: 1280px;
  padding: 0 20px 10px 20px;
  margin: 0 auto;
}

.chart {
  width: 100%;
  max-width: 860px;
  box-sizing: border-box;
  align-items: flex-start !important;
  padding: 24px 24px 4px 24px !important;
}

.desktopSelect {
  display: flex;
}

.codes {
  line-height: 1.5 !important;
  font-family: 'Inter';
  overflow-x: hidden;
  margin: 0px;
}

.mobileSelect {
  display: none;
  width: 100%;
}

@media (max-width: 1280px) {
  .header {
    max-width: 860px;
  }

  .container {
    max-width: 860px;
    margin: 0 auto;
    padding: 0px 0px 10px 0px;
    flex-direction: column;
  }

  .chart {
    width: 100%;
    box-sizing: border-box;
    align-items: flex-start !important;
    padding: 24px !important;
  }
}

@media (max-width: 890px) {
  .header {
    max-width: 100%;
    margin: 0;
    padding: 13px 15px;
  }
}

.subContainer {
  width: 100%;
}

@media (max-width: 860px) {
  .subContainer {

    // width: 100%;
    .leftSubContainer {
      width: 100%;
    }
  }

  .container {
    padding: 0px 0px 40px 0px;
  }
}

@media (max-width: 860px) {
  .chart {
    max-width: 100%;
    padding: 25px 15px 20px !important;
  }
}

@media (max-width: 768px) {
  .content {
    padding: 48px 15px;
  }

  .desktopSelect {
    display: none;
  }

  .mobileSelect {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
  }
}

.title {
  font-weight: 500 !important;
}

.spaceBetween {
  justify-content: space-between !important;
}

.alignCenter {
  align-items: center;
}

.flexStart {
  justify-content: flex-start !important;
  font-size: 14px !important;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #eaecf0;
}

.link {
  margin-left: 12px;
  color: #667085;
}

.newProject {
  margin-right: 5px;
  font-size: 14px;
}

@media (max-width: 576px) {
  .newProject {
    display: none;
  }

  .about1 {
    width: 100% !important;
  }

  .about2 {
    width: 100% !important;
  }

  .aboutBody1 {
    padding: 5px 14px 14px;
  }

  .chart {
    .MuiPaper-elevation {
      left: 30px !important;
      min-width: calc(100% - 60px) !important;
    }
  }

  .css-h4ji9t-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
    left: 30px !important;
    min-width: calc(100% - 60px) !important;
  }
}

@media (max-width: 450px) {
  .subContainer {
    .rightSubContainer {
      width: 100%;

      .about {
        width: 100%;
      }

      // width: 250px;
      // margin: 0 auto;
    }
  }

  .spaceBetween {
    // width: 100%;
    justify-content: center !important;
  }
}